* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  height: 8vh;
  background-color: #454545;
}

nav .hamburger {
  display: none;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
}

nav .nav-links .nav-item a {
  color: #ff9800;
  text-decoration: none;
  position: relative;
}

nav .nav-links .nav-item a:hover {
  color: #ffc300;
}

nav .nav-links .nav-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff9800;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav .nav-links .nav-item a:hover:before {
  background-color: #ffc300;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#landing {
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #454545;
}

#landing h1 {
  font-size: 4em;
  color: #ff9800;
}

@media screen and (max-width: 768px) {
  nav {
    position: relative;
  }
  nav .hamburger {
    display: block;
    z-index: 2;
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
  nav .hamburger:focus {
    outline: none;
  }
  nav .nav-links {
    position: fixed;
    background: #535353;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    pointer-events: none;
  }
  nav .nav-links.open {
    clip-path: circle(1200px at 90% -10%);
    -webkit-clip-path: circle(1200px at 90% -10%);
    pointer-events: all;
  }
  nav .nav-item {
    opacity: 0;
  }
  nav .nav-item a {
    font-size: 1.5em;
  }
  nav .nav-item:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
  }
  nav .nav-item:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
  }
  nav .nav-item:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  nav .nav-item.fade {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */